<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title> Rifat Rahman</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#sec2">About</a></li>
				<li><a href="#skills">Skills</a></li>
				<li><a href="#sec4">Portfolio</a></li>
				<li><a href="#sec5">Contact</a></li>
			</ul>
		</nav>
	</header>
	<section class="section1">
		<div class="welcome">
			<div class="alt">
			<p>Hi,I know you get confused to see me,don't worry I am not that monk-man.I am a junior web devepoler and an analyst.</p></div>
			<b>BTW, welcome to my website!</b>
		</div>
	</section>


	<section class="section2 container" id="sec2">
		<div class="row">
			<div class="col1">
				<img v-bind:src="img">
				<button v-on:click="changeimg" class="btn1">change</button>
			</div>
			<div class="col2">
				<h1>ABOUT ME</h1>
				<p>I am Rifat Rahman a full stack junior web developer and a data analyst.I am from Bangladesh.Web and analytics are related to each other,but how??we will talk about that later.I am not that beginner,I don't have any experience of working with google either.I am an intermediate developer,I have done a lots of projects and preparing myself to blast.But I am a very confident data analyst who can make a value to your bussiness.<br>However,I love to explore besides to code and making memes.Now I find myself as an ex-programemer,haha can you believe this?I donno what does that mean!</p>
			</div>
		</div>
	</section>
	<section class="section3" id="skills">
		<div class="skills">
			<h1>Skills</h1>
			<p>My parents think of me that I am more useless than me itself!<br>But as you can see I know many things</p>
		</div>
		<div class="row2">
			<div class="cols1">
				<img src="html.png">
				<h4>HTML5</h3>
			</div>
			<div class="cols1">
				<img src="css.png">
				<h4>CSS3</h3>
				
			</div>
			<div class="cols1">
				<img src="js.png">
				<h4>Javascript</h3>
			</div>
			<div class="cols1">
				<img src="bootstrap.png">
				<h4>Bootstrap</h3>
				
			</div>
			<div class="cols1">
				<img src="vuejs.png">
				<h4>Vuejs</h3>
			</div>
			<div class="cols1">
				<img src="python.jpg">
				<h4>Python</h3>
			</div>
			<div class="cols1">
				<img src="dj.png">
				<h4>Django</h3>
			</div>
			<div class="cols1">
				<img src="pandas.png">
				<h4>Pandas</h3>
			</div>
			<div class="cols1">
				<img src="numpy.png">
				<h4>Numpy</h3>
			</div>
			<div class="cols1">
				<img src="matplot.png">
				<h4 style="font-size: 17px;">Matplotlib</h3>
			</div>
			<div class="cols1">
				<img src="seaborn.png">
				<h4>Seaborn</h3>
			</div>
			<div class="cols1">
				<img src="word.png" >
				<h4 style="font-size: 17px;">Wordpress</h3>
			</div>
		</div>
	</section>
	<section class="sec4 container" id="sec4">
		<div>
			<div>
				<h1>Portfolio</h1>
				<p>I do web development and data analysis.I did a lots of projects small and bigger.But I will always remember the day I handed over my own schools website to my principle!And there you can see some of my projects when I was begginer.I am a begginer now though,but a boy begginer not a baby.I am trying to take permissions of showing my professional projects to you.You might see that sometimes latter</p>
			</div>
			<!-- first part -->
			<div id="gallery" class="carousel slide mg" data-ride="carousel">
			    <div class="carousel-inner">
			        <div class="carousel-item active">
			            <div class="row">
							<div class="col">
			                    <a href="https://jibonmukhiblogs.netlify.app/" class="link" target="_blank">
			                    <img class="img-fluid" src="blog.PNG" alt="Bloging site" v-bind:title ="title"/></a>
			                </div>

			                <div class="col">
			                    <a href="https://marvelheros.netlify.app/avengers" class="link" target="_blank">
			                    	<img class="img-fluid" src="heros.PNG" alt="Super hero site" v-bind:title ="title"/></a>
			                </div>
			                <div class="col">
			                    <a href="https://github.com/rifat0rahman/Titanic-Project/blob/master/TITANIC.ipynb" class="link" target="_blank">
			                    <img class="img-fluid" src="DA1.PNG" v-bind:title ="title" alt="Data analysis"/></a>
			                </div>
			            </div>
			        </div>
			        <!-- second part -->
			        <div class="carousel-item">
			            <div class="row">
			                <div class="col">
			                    <a href="https://weathernews.netlify.app" class="link" target="_blank">
			                    <img class="img-fluid" src="weather.PNG" alt="weather app" v-bind:title ="title"/></a>
			                </div>

			                <div class="col">
			                    <a href="https://trytologin.netlify.app" class="link" target="_blank">
			                    <img class="img-fluid" src="login.PNG" alt="Image 7" v-bind:title ="title"/></a>
			                </div>
			                <div class="col">
			                   <a href="https://trytopuch.netlify.app" class="link" target="_blank">
			                   <img class="img-fluid" src="punch.PNG" alt="Image 7" v-bind:title ="title"/></a> 
			                </div>
			            </div>
			        </div>
			    </div>
			    <!-- buttons -->
			    <a class="carousel-control-prev" href="#gallery" role="button" data-slide="prev">
			        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			        <span class="sr-only">Previous</span>
			    </a>

			    <a class="carousel-control-next" href="#gallery" role="button" data-slide="next">
			        <span class="carousel-control-next-icon" aria-hidden="true"></span>
			        <span class="sr-only">Next</span>
			    </a>
			</div>
		</div>
	</section>
	<section class="sec5 container" id="sec5">
		<div>
			<h1>Contact</h1>
			<p>You can message me anytime ! I will surely try to response to you whenever I can</p>
		</div>
		<div>
			<h4>{{greeting}}</h4>
			<input type="text" placeholder="You can put your name" v-model="massege.name" required/><br>
			<textarea placeholder="write your words" v-model="massege.words" required/></textarea><br>
			<button v-on:click = "contact()">Submit</button>
		</div>
		<div>
			<h2>OR</h2>
			<p>You can get me anytime on <b>massenger,</b> please contact with me if you need me. I am very new in fiver.</p>
		</div>
		<div class="icons">
			<a href="https://www.facebook.com/messages/t/mr.allion.Z" target="_blank"><i class="fab fa-facebook-messenger fa-5x"></i></a>
			<a href="https://www.facebook.com/mr.allion.Z" target="_blank"><i class="fab fa-facebook fa-5x" style="color: white"></i></a>
			<a href="https://github.com/rifat0rahman" target="_blank"><i class="fab fa-github fa-5x" style="color: white"></i></a>
			<a href="https://www.fiverr.com/rifatrahman0?up_rollout=true"><img src="fiver.png" style="width: 100px;" class="img"></a>
			<p style="color: white;position: relative;bottom: 20px;">Email me:allionrifat334@gmail.com</p>
		</div>
		<div>
			<p style="color: white;">Really thanks for being here!!</p>
		</div>
	</section>
	<footer>
	<p>©rifat-rahman</p><p>allionrifat334@gmail.com</p>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-replace-svg="nest"></script>
<script type="text/javascript" src="index.js"></script>
</html>
